.article-section > .container {

  padding-top: 40px;
  padding-bottom: 40px;

  .vertical-spacing {
    margin-bottom: 30vh;
  }

  .delete-filters {
    margin-top: 12px;
    width: fit-content;

    &:hover {
      background-color: $gray-light-medium;
    }
  }

  &.row {
    //gap: $cards-grid-gap;
    --bs-gutter-x: 16px;
    --bs-gutter-y: 32px;

    @media (max-width: 767.98px) {
      --bs-gutter-y: 20px;
    }

    .col {
      //temp
      // the full width and 2 rows are not beautiful
      //fixme
      @media (max-width: 991.98px) and (min-width: 790px) {
        //md
        @include make-col(5);
      };
      @media (max-width: 788.98px) and (min-width: 767px) {
        //md custome
        @include make-col(6);
      };
      @media (max-width: 766.98px) and (min-width: 670px) {
        //sm
        @include make-col(6);
      };
      @media (max-width: 669.98px) and (min-width: 567px) {
        //sm custom
        @include make-col(7);
      };
      @media (max-width: 566.98px) and (min-width: 494px) {
        //xs
        @include make-col(8);
      };
      @media (max-width: 493.98px) and (min-width: 400px) {
        //xs costom
        @include make-col(12);
      };
    }
  }


  .card, .card * {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }


  .card {
    overflow: hidden;
    border-radius: $radius-20px;
    border: 2px solid $gray-light;

    .card-img {
      object-fit: cover;
    }

    .card-body {
      padding: $card-body-padding;
      width: 100%;
      height: 100%;
      bottom: -55%;
      position: absolute;
      background-color: $card-body-color;
      border-radius: $radius-20px;
      transition: all 0.5s;
      gap: $space-20px;

      .card-text {
        gap: $space-20px;
        @include make-col(12);
        flex-grow: 1;


        .card-title {
          height: 55%;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;

        }

        &--avatar {
          @include flexbox(
                  $flex-direction: row,
                  $align-items: center,
                  $align-content: center,
                  $gap: 4px
          ); // $align-content: center to test the english text centering

          img {
            border-radius: 6px;
            border: 1px solid $gray-light;
          }

        }
      }

      &--metadata {
        @include flexbox($flex-direction: row, $justify-content: space-between);
        @include make-col(12);

        .meta-text {
          @include flexbox(
                  $flex-direction: row,
                  $align-items: center,
                  $gap: 16px
          );

          .first-meta,
          .second-meta {
            @include flexbox(
                    $flex-direction: row,
                    $align-items: center,
                    $gap: $space-8px
            );

            &--text {
              line-height: $LINEHEIGHT-3;
            }
          }
        }
      }

    }

    &:hover {
      .card-body {
        .card-title {
          //fixme the avatar sapace
          //for eng text
          //flex-grow: 0;

        }


        padding: $space-20px;
        bottom: 0;
        border-radius: $radius-16px;
        //transition: all $card-hover-time;

      }

    }

    .meta-bookmark-icon {
      align-self: flex-end;
    }
  }
}


