.slider {
  &__container {
    padding-top: 40px;
    padding-bottom: 80px;
    @media (max-width: 767.98px) {
      padding-top: 20px;
      padding-bottom: 60px;
    }
    border-radius: 20px;
    @include flexbox($flex-direction: column, $align-items: center, $gap: 24px);
    // gap between banner and carousel
    flex-shrink: 1;
  }

  &__banner {
    overflow: hidden;
    width: 100%;
    position: relative;

  }

  &__slide {
    &--img {
      border-radius: 20px;
      position: absolute;

      //width: 100%;
      //height: 100%;
      object-fit: contain;
    }

  }


  &__carousel {
    @include flexbox($flex-direction: row, $justify-content: center, $align-items: center, $gap: 16px);
    // gap between arrows and bullets

    &__arrow {
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      color: $secondary-2;

      &--left {
        order: 3;
      }

      &--right {
        order: 1;
      }

      &:hover {
        background-color: $gray-light;
      }
    }

    &__bullets {
      order: 2;
      @include flexbox($flex-direction: row, $gap: 12px);
      // gap between individual bullets
    }

    &__bullet {
      padding: 0;
      width: 10px;
      height: 10px;
      border-radius: 6px;
      cursor: pointer;
      border: none;
      background-color: $secondary-2-light;

      &--active {
        background-color: $secondary-2 !important;
      }
    }
  }
}
